<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('mathia.ico') }}" type="image/icon type">
        <title>{% block title %}Mathia{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-lg">
            <nav class="navbar navbar-expand-sm">
                <div class="container-fluid">
                    <div class="navbar-nav h3">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('build/mathia.png') }}" alt="Mathia logo" height="50px">
                        </div>
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                        <a class="nav-link" href="{{ path('penguin') }}">Pingu</a>
                        <a class="nav-link" href="{{ path('astro') }}">Astrophotography</a>
                    </div>
                </div>
            </nav>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
