<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('pingu.ico') }}" type="image/icon type">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-lg">
            <nav class="navbar navbar-expand-sm">
                <div class="container-fluid">
                    <div class="navbar-nav h3">
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                        <a class="nav-link" href="{{ path('penguin') }}">Pingu</a>
                        <a class="nav-link" href="{{ path('astro_list') }}">Astrophotography</a>
                    </div>
                </div>
            </nav>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
