{% extends 'base.html.twig' %}

{% block content %}

    <div class="d-flex justify-content-center flex-column align-items-center">
        <h1>
            The Valley Fog
        </h1>

        <div class="row">
            <div class="col-lg-12 col-12">
                <img class="px-2" src="{{ asset('build/astro/tal2.jpg') }}" alt="tree">
            </div>
            <a class="astro-link font-50" href="{{ path('download_image', {'filename': 'tal2.jpg' }) }}">download</a>
            <div class="col-lg-12 col-12 pt-5">
                <img class="px-2" src="{{ asset('build/astro/tal3.jpg') }}" alt="tree">
            </div>
            <a class="astro-link font-50" href="{{ path('download_image', {'filename': 'tal3.jpg' }) }}">download</a>
            <div class="col-lg-12 col-12 pt-5">
                <img class="px-2" src="{{ asset('build/astro/tal1.jpg') }}" alt="tree">
            </div>
            <a class="astro-link font-50" href="{{ path('download_image', {'filename': 'tal1.jpg' }) }}">download</a>
        </div>
    </div>

{% endblock %}